.chat-side
    .side-header
        .side-header__user-name 
            = current_user.name
        .side-header__menu
            = link_to new_group_path, class: "side-header__btn" do
                .fa.fa-edit.icon
            = link_to edit_user_path(current_user), class: "side-header__btn" do
                .fa.fa-cog.icon
    .groups
        - current_user.groups.each do |group|
            = link_to group_messages_path(group), class: "group" do  
                .group__name
                    = group.name
                .group__message
                    = group.show_last_message  
        